body{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: medium;
    line-height: 1.6em;
    background-color: rgb(246, 248, 245);
    
}
h1{ font-family: 'Times New Roman', Times, serif;font-size: 150%;font-weight: bold;}
h2{ font-family: Arial, Helvetica, sans-serif;}
.title{ 
    margin: 0 0 0 12px;
    padding: 0;
    border: 0;
    height:100%;
    background-image: url(../resourse/image/title.jpg);
    background-position: center;
}
.head1{
    border-width: 1px;margin: 30px;
    border-style:none;
    padding: 25px;
}
.head2{ background: rgb(38, 120, 158);}
.head2 ul li{
    display: inline-block;
    padding: 8px 50px;
    background: #3A4953;
    line-height: normal;
    color: blanchedalmond;
    height: 20px;
    overflow: hidden;
    text-decoration: none;
    border-left: 2px solid rgb(17, 37, 150);
}
.guide{float: right;}

